.app-component{
  width: 550px ;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* .App {
  text-align: center;
  display: flex;
  justify-content: center;
} */

.wrapper{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  max-width: 500px;
  padding: 50px;
  border-radius: 10px;
}

input{
margin-bottom: 10px;
border: none;
border-radius: 5px;
background-color: aqua;
padding: 5px 10px;
outline: none;
}

textarea{
  margin-bottom: 10px;
  order: none;
  border-radius: 5px;
  background-color: aqua;
  padding: 5px 10px;
  outline: none;
}

.message-wrapper{
  margin: 10px 0;
  order: none;
  border-radius: 5px;
  background-color: aquamarine;
  padding: 5px 10px;
  outline: none;
  width: 200px ;
  flex-wrap: wrap;
}

p{
  margin: 0;
  padding: 0;
  min-width: 150px;
}

.from{
  background-color: darkgray;
  font-size: 12px;
  padding: 0 6px;
  border-radius: 5px;
  float: right;
  margin-top: 10px;
  
}
