.message{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background: linear-gradient(90deg, rgba(26,7,84,1) 0%, rgba(23,15,126,1) 52%, rgba(4,0,255,1) 100%);
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 8px 8px 13px 7px rgba(34, 60, 80, 0.19);
}

h1{
    color: #FFFFFF;
}